body {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to top right, #000000, #660000),
    radial-gradient(
      circle,
      rgba(255, 255, 255, 0.8) 20%,
      rgba(255, 255, 255, 0) 80%
    );
  background-blend-mode: multiply;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("Valorant-Emblem.png");
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    opacity: 0.6;
  }

  .logo {
    position: absolute;
    top: -5px;
    left: -10px;
    width: 100px; 
    height: 65px; 
    margin: 20px;
  }

  .nav-buttons {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    gap: 10px;
  }
  
  .nav-buttons a {
    color: white;
    text-decoration: none;
  }

  .video-container {
    display: flex;
    gap: 20px;
}

.options-window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40rem;
    height: 30rem;
    max-width: 80%;
    max-height: 80%; 
    background-color: rgba(109, 108, 108, 0.5);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(1px); 
    overflow-y: auto; 
}
  
.options-window h2 {
    text-align: center;
  }
  
  .options-window ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
  }
  
  .options-window li {
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .options-window li a:link,
.options-window li a:visited {
  color: inherit; 
  text-decoration: none; 
}

  .options-window li:hover {
    color: blue;
  }

.video {
    flex: 0 1 calc(25% - 20px);
    position: relative;
    height: 120px;
    cursor: pointer;
}

.video-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.video video {
    width: 100%; 
    height: 100%; 
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    color: #fff;
}

.video-title {
    display: block;
    text-align: center;
    color: #fff;
    font-size: 14px;
    margin-top: 5px;
}

.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.popup video {
    display: block;
    max-width: 80%;
    max-height: 80%;
    margin: 10% auto;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}
